<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Pruebas de Aplicación de Manejo de SQL</title>
  <link rel="stylesheet" href="public/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/print.css" type="text/css" media="print" title="no title" charset="utf-8">
</head>
<body id="index" onload="">
  
  <div class="container showgrid">
    <div id="header">
      <h1 id="title"> Sistema para el manejo de sql</h1>
    </div>
    <div class="main">
      <p>Esta es la pantalla principal de la aplicación para el manejo de sql</p>
      <INPUT TYPE="button" VALUE="ejercicios" onclick=" window.location.href='taller.html'">
    </div>
    <div class="footer">
      <h5> Derechos reservados </h5>
    </div>
  </div>
  
</body>