<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Pruebas de Aplicación de Manejo de SQL</title>
  <script src="" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="public/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/blueprint/print.css" type="text/css" media="print" title="no title" charset="utf-8">
</head>
<body id="index" onload="">
  
  <div class="container showgrid">
    <div id="header">
      <h1 id="title"> Sistema para el manejo de sql</h1>
    </div>
    <div class="main">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
            <th>Nº</th>
            <th>Enunciado del Ejercicio</th>
            <th>SQL</th>
            <th>ejecutar</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Data</td>
            <form action="ejercicio01.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>02</td>
            <td>Data</td>
            <form action="ejercicio02.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>03</td>
            <td>Data</td>
            <form action="ejercicio03.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>04</td>
            <td>Data</td>
            <form action="ejercicio04.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>05</td>
            <td>Data</td>
            <form action="ejercicio04.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>05</td>
            <td>Data</td>
            <form action="ejercicio05.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>06</td>
            <td>Data</td>
            <form action="ejercicio06.php" method="post" accept-charset="utf-8">
            <td><input type="text"  name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>07</td>
            <td>Data</td>
            <form action="ejercicio07.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>08</td>
            <td>Data</td>
            <form action="ejercicio08.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
        <tr>
            <td>09</td>
            <td>Data</td>
            <form action="ejercicio09.php" method="post" accept-charset="utf-8">
            <td><input type="text" name="sql" value="inserte el sql que desea ejecutar" id="sql"></td>
            <td><p><input type="submit" value="enviar"></p></td>
            </form>
        </tr>
      </table>
      <INPUT TYPE="button" VALUE="atras" onclick=" window.location.href='index.html'">
    </div>
    <div class="footer">
      <h5> Derechos reservados </h5>
    </div>
  </div>
  
</body>